<div class="custom-modal">
  <div class="modal-header">
    <div class="buttons" [style.justify-content]="createEvent ? 'flex-end' : 'space-between'">
      <ion-button class="delete-button" fill="clear" (click)="deleteEvent()" [hidden]="createEvent">
        <ion-icon slot="icon-only" name="trash">
        </ion-icon>
      </ion-button>
      <ion-button class="close-button" fill="clear" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <div class="title">
      <h2 *ngIf="createEvent">Create Event</h2>
      <h2 *ngIf="!createEvent && event">{{ event.title }}</h2>
      <p *ngIf="!createEvent && event">{{ eventDate }}</p>
    </div>
  </div>
  <div class="modal-body">
    <div *ngIf="createEvent && event">
      <ion-list>
        <form novalidate [formGroup]="eventDetails">
          <ion-item>
            <ion-input type="text" formControlName="title" placeholder="Title">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">All day</ion-label>
            <ion-toggle formControlName="allDay" color="primary" slot="end" (ionChange)="setFormat($event)">
            </ion-toggle>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">From</ion-label>
            <ion-datetime formControlName="start" displayFormat="{{displayFormat}}" pickerFormat="{{pickerFormat}}"
              min="{{today.toISOString()}}" (ionChange)="checkTime($event)" style="margin-left: auto;"></ion-datetime>
          </ion-item>

          <ion-item [hidden]="this.eventDetails.controls['allDay'].value === true">
            <ion-label position="fixed">Till</ion-label>
            <ion-datetime formControlName="end" display-format="DD-MM-YYYY HH:mm" picker-format="DDD MMMM YYYY HH:mm"
              min="{{today.toISOString()}}" (ionChange)="checkTime($event)" style="margin-left: auto;"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-input type="text" formControlName="location" placeholder="Location">
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-textarea formControlName="description" placeholder="Description"></ion-textarea>
          </ion-item>

        </form>
      </ion-list>
    </div>

    <div *ngIf="!createEvent && event">
      <ion-list>

        <ion-item *ngIf="event.description">
          <ion-textarea [value]="event.description" placeholder="Description" readonly></ion-textarea>
        </ion-item>

        <ion-item *ngIf="event.location">
          <ion-label position="fixed">Location</ion-label>
          <ion-input [value]="event.location" placeholder="Location" style="text-align: right" readonly>
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="fixed">Created By</ion-label>
          <ion-input [value]="event.createdBy.firstName" placeholder="Created By" style="text-align: right" readonly>
          </ion-input>
          <ion-avatar>
            <img [src]="_sanitizer.bypassSecurityTrustResourceUrl(user?.avatar)" />
          </ion-avatar>
        </ion-item>

      </ion-list>
    </div>

    <div class="modal-footer">
      <ion-button expand="full" fill="solid" color="primary" (click)="submit()" *ngIf="createEvent"
        [disabled]="eventDetails.invalid">
        SAVE
      </ion-button>
    </div>
  </div>