app-event-modal {
  background: transparent;
}

ion-avatar {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-left: 10px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.custom-modal {
  background: rgba(0, 51, 255, 0.6) !important;
  background: linear-gradient(180deg, rgba(0, 51, 255, 0.6) 0%, rgba(29, 209, 255, 0.6) 100%) !important;

  display: flex;
  width: 98vw;
  height: auto;
  box-sizing: border-box;
  padding: 0;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);

  .modal-header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.5rem 0 1rem 0;
    margin: 0;

    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background: transparent;

    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    .buttons {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;

      align-self: flex-start;
      justify-content: unset;

      .delete-button {
        height: 24px;
        margin: 0;

        color: #fff;
      }

      .close-button {
        height: 24px;
        margin: 0;

        color: #fff;
      }
    }
  }

  .modal-body {
    width: 100%;

    ion-list {
      background: transparent;

      ion-item:nth-child(1) {
        font-size: 1.3rem;

        ion-input {
          --placeholder-color: #fff;
          --placeholder-opacity: 0.75;
        }
      }

      ion-item {
        --background: transparent;
        --border-color: rgba(255, 255, 255, 0.2);
        --color: #fff;
        --highlight-background: var(--main-background);

        padding: 0.4rem;

        font-family: "Open Sans", sans-serif;

        ion-label {
          font-size: 1rem;
          color: #fff;
        }

        ion-input {
          --placeholder-color: #fff;
          --placeholder-opacity: 0.75;

          --highlight-background: var(--main-background);
        }

        ion-textarea {
          --placeholder-color: #fff;
          --placeholder-opacity: 0.75;

          --padding-start: 0px;
        }
      }
    }
  }

  ion-item.input {
    --border-color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --padding-start: 25px !important;

    margin-top: 12px;
    margin-right: 0.1rem;
    margin-left: 0.1rem;

    height: 45px;
    --background: rgba(255, 255, 255, 0.1);

    ion-label {
      --color: rgba(255, 255, 255, 0.8) !important;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      letter-spacing: 0.03rem;
    }

    ion-input,
    ion-textarea {
      --placeholder-color: #fff;
      --placeholder-opacity: 0.6;
      --padding-start: 18px !important;
      --padding-end: 0;
      --background: rgba(255, 255, 255, 0);
      --border-radius: 3px;

      margin: 0 auto;
      padding: 20px 0 20px 10px;

      font-family: "Segoe UI", sans-serif;
      font-weight: 300;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      color: #fff;
    }

    ion-icon.prepend {
      color: rgba(255, 255, 255, 0.4);
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }

    ion-button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin: 0;
      --color: rgba(255, 255, 255, 0.4);
    }
  }

  .modal-footer {
    width: 100%;
    padding: 0.6rem;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: transparent;

    text-align: center;
  }
}

#save-event-btn {
  --border-radius: 3px;
  --background: #fff;
  margin-top: 11px;
  width: 100%;
  height: 55px;
  color: #0086d5;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
