<div class="custom-modal">
  <div class="modal-header">
    <div class="buttons" [style.justify-content]="createEvent ? 'flex-end' : 'space-between'">
      <ion-button class="delete-button" fill="clear" (click)="deleteEvent()" [hidden]="createEvent">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button class="close-button" fill="clear" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="modal-body">
    <div *ngIf="createEvent && event">
      <ion-list>
        <form [formGroup]="eventDetails">

          <ion-item>
            <ion-input inputmode="text" formControlName="title" placeholder="What will you be doing..."></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">All day</ion-label>
            <ion-toggle formControlName="allDay" color="success" slot="end" (ionChange)="setFormat($event)">
            </ion-toggle>
          </ion-item>

          <ion-item>
            <ion-label position="fixed">From</ion-label>
            <ion-datetime formControlName="start" displayFormat="{{displayFormat}}" pickerFormat="{{pickerFormat}}"
              min="{{today.toISOString()}}" (ionChange)="checkTime($event)" style="margin-left: auto;"></ion-datetime>
          </ion-item>

          <ion-item [hidden]="this.eventDetails.controls['allDay'].value == true">
            <ion-label position="fixed">Till</ion-label>
            <ion-datetime formControlName="end" display-format="DD-MM-YYYY HH:mm" picker-format="DDD MMMM YYYY HH:mm"
              min="{{today.toISOString()}}" (ionChange)="checkTime($event)" style="margin-left: auto;"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-input inputmode="text" formControlName="location" placeholder="Where"></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea formControlName="description" placeholder="Description"></ion-textarea>
          </ion-item>

          <ion-item [hidden]="this.eventDetails.controls['allDay'].value == false">
          </ion-item>

        </form>
      </ion-list>
    </div>

    <div *ngIf="!createEvent && event">
      <ion-list>
        <ion-item>
          <ion-input [value]="event.title" readonly></ion-input>
        </ion-item>

        <ion-item *ngIf="event.description">
          <ion-textarea [value]="event.description" readonly></ion-textarea>
        </ion-item>

        <ion-item *ngIf="event.location" style="color: rgba(255, 255, 255, 0.85);">
          <ion-label position="fixed" style="color:rgba(255, 255, 255, 0.85);">Location</ion-label>
          <ion-input [value]="event.location" style="text-align: right" readonly>
          </ion-input>
        </ion-item>

        <ion-item style="color: rgba(255, 255, 255, 0.85);">
          <ion-label position="fixed" style="color:rgba(255, 255, 255, 0.85);">Created By</ion-label>
          <ion-input [value]="event.createdBy.firstName + ' ' + event.createdBy.lastName" placeholder="Created By"
            style="text-align: right" readonly>
          </ion-input>
        </ion-item>

      </ion-list>
    </div>
  </div>

  <div class="modal-footer">
    <ion-button id="save-event-btn" (click)="submit()" *ngIf="createEvent">
      SAVE
    </ion-button>
  </div>
</div>