<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Let's Meet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/shapes.svg">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>Group Name</h3>
        <small>Last Edited: 2019-01-01</small>
      </ion-label>

      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/shapes.svg">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>Group Name</h3>
        <small>Last Edited: 2019-01-01</small>
      </ion-label>

      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/shapes.svg">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>Group Name</h3>
        <small>Last Edited: 2019-01-01</small>
      </ion-label>

      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/shapes.svg">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>Group Name</h3>
        <small>Last Edited: 2019-01-01</small>
      </ion-label>

      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="navigateToAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>