@import "../../../theme/variables.scss";

ion-header {
  backdrop-filter: blur(8px);
}

ion-toolbar {
  --ion-toolbar-background: rgba(255, 255, 255, 0.2);
  --color: #fff;
}

ion-back-button {
  --color: #fff;
}

ion-content {
  width: 100%;
  @include gradient;
}

ion-list {
  --ion-item-background: rgba(255, 255, 255, 0.05);

  ion-item {
    --color: #fff;
  }

  ion-icon {
    color: #fff;
  }
}
