ion-header {
  backdrop-filter: blur(8px);
}

ion-toolbar {
  --ion-toolbar-background: rgba(255, 255, 255, 0.2);
  --color: #fff;
}

ion-back-button {
  --color: #fff;
}

ion-content {
  width: 100%;
  --background: none;
  --background: #43cea2;
  --background: -webkit-linear-gradient(to left, #185a9d, #43cea2);
  --background: linear-gradient(to left, #185a9d, #43cea2);
}

ion-list {
  --ion-item-background: rgba(255, 255, 255, 0.05);

  ion-item {
    --color: #fff;
  }

  ion-icon {
    color: #fff;
  }
}
