<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-row class="form-row" *ngIf="groupDetails">
    <ion-col>
      <ion-list>
        <form novalidate [formGroup]="groupDetails">

          <ion-item>
            <ion-label position="floating">Group Name</ion-label>
            <ion-input type="text" formControlName="groupName">
            </ion-input>
          </ion-item>
          <ion-label class="error">
            <small class="dark" class="dark"
              [style.transform]="groupDetails.get('groupName').hasError('required') && 
                    (groupDetails.get('groupName').dirty || groupDetails.get('groupName').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.groupName[0].message }}
            </small>
          </ion-label>

          <ion-row class="button-row">
            <ion-col text-center>
              <ion-button expand="full" fill="solid" color="primary" (click)="submit()"
                [disabled]="groupDetails.invalid">
                CREATE
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>