<ion-content class="ion-padding" *ngIf="user" fullscreen="true">
	<ion-grid>
		<ion-row>
			<ion-col>
				<h1 class="title">Lets Meet</h1>
			</ion-col>
		</ion-row>

		<ion-row id="profile-picture">
			<ion-col text-center align-self-center>
				<ion-avatar>
					<img [src]="_sanitizer.bypassSecurityTrustResourceUrl(user.avatar)" />
				</ion-avatar>

				<h2>{{ user.firstName }} {{ user.lastName }}</h2>
				<p>Member since {{ memberSince | date: 'MMMM dd, yyyy' }}</p>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col text-center>
				<ion-button class="primary-btn" (click)="navigateToManage()">
					EDIT PROFILE
				</ion-button>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>