@import "../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    --opacity: 1;
    --color: #fff;
    --background: transparent;

    ion-title {
      font-family: "Champagne and Limousines", sans-serif;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

ion-content {
  --background: rgb(0, 51, 255);
  --background: linear-gradient(180deg, rgba(0, 51, 255, 1) 0%, rgba(29, 209, 255, 1) 100%);
  --color: #fff;

  ion-grid {
    margin-top: 3rem;
  }

  ion-item-divider {
    --background: transparent;
    --color: #fff;
  }

  ion-label {
    --color: #fff;
  }
}

// Date text
ion-label h2 {
  width: 100%;
  padding: 1rem;
  margin: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
}
