@import "../../../theme/variables.scss";

ion-label h2 {
  margin-bottom: 1rem;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

ion-fab-button {
  display: inline-block;
  margin: 0 0.3rem;
}
