<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ group?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createEvent()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen="true">
  <ion-label class="ion-text-center">
    <h2>{{ viewTitle }}</h2>
  </ion-label>

  <ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail"
    let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="true" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-item (click)="onEventSelected(event)" *ngFor="let event of selectedDate?.events">
        <ion-thumbnail slot="start">
          <img [src]="_sanitizer.bypassSecurityTrustResourceUrl(event?.createdBy.avatar)">
        </ion-thumbnail>

        <ion-label text-wrap>
          <h3 class="event-detail">{{ event.title }}</h3>

          <small *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</small>
          <small *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
            {{event?.startTime | date: 'HH:mm'}} - {{event?.endTime | date: 'HH:mm'}}
          </small>
        </ion-label>

        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </ion-list>
  </ng-template>

  <calendar [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate" [eventSource]="eventSource"
    [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onEventSelected)="onEventSelected($event)" [lockSwipeToPrev]="calendar.lockSwipeToPrev"
    formatMonthTitle="MMMM, yyyy" formatDayHeader="E" formatHourColumn="HH:mm" step="30">
  </calendar>

  <!-- 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [hidden]="currentMonth" (click)="today()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>