<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ group.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showPopOver()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" fullscreen="true">

  <ion-label class="ion-text-center">
    <h2>{{ viewTitle }}</h2>
  </ion-label>

  <ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail"
    let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="true" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-item (click)="onEventSelected(event)" *ngFor="let event of selectedDate?.events">
        <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">{{event?.startTime | date: 'HH:mm'}}
          -
          {{event?.endTime | date: 'HH:mm'}}
        </span>
        <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All Day</span>
        <span class="event-detail">&emsp;{{event.title}}</span>
      </ion-item>
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </ion-list>
  </ng-template>

  <calendar [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate" [eventSource]="eventSource"
    [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onEventSelected)="onEventSelected($event)" [lockSwipeToPrev]="calendar.lockSwipeToPrev"
    formatMonthTitle="MMMM, yyyy" formatHourColumn="HH:mm" step="30">
  </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [hidden]="currentMonth" (click)="today()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="tertiary" (click)="createEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>