<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row class="form-row">
      <ion-col>
        <ion-list>
          <form novalidate [formGroup]="user">

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email">
              </ion-input>
            </ion-item>
            <ng-container *ngFor="let error of error_messages.email">
              <small class="error" *ngIf="user.get('email').hasError(error.type) && 
                    (user.get('email').dirty || user.get('email').touched)">
                {{ error.message }}
              </small>
            </ng-container>

            <ion-row class="button-row">
              <ion-col text-center>
                <ion-button expand="full" fill="solid" color="primary" (click)="submit()">
                  RESET
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>