<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <form novalidate [formGroup]="user">

            <ion-item class="input">
              <ion-label position="floating">Email</ion-label>
              <ion-input inputmode="email" formControlName="email">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('email').untouched || 
                        (user.get('email').value.length > 0 && user.get('email').touched)">
                {{ error_messages.email[0].message }}
              </small>
              <small [class.hide]="!user.get('email').hasError('pattern')">
                {{ error_messages.email[1].message }}
              </small>
            </ion-label>

            <ion-row class="ion-margin-top">
              <ion-col text-center>
                <ion-button class="primary-btn" (click)="submit()" [disabled]="user.invalid">
                  RESET
                </ion-button>
              </ion-col>
            </ion-row>

          </form>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>