@import "../../../theme/variables.scss";

.form-row {
  margin-top: 2rem;
}

.button-row {
  margin-top: 2rem;
}

ion-list {
  margin-right: 0.3rem;
  margin-left: 0.3rem;

  ion-item {
    margin: 1rem auto 0 auto;

    ion-label {
      font-weight: 500;
    }
  }
}
