<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row class="form-row">
      <ion-col>
        <ion-list>
          <form novalidate [formGroup]="user">

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small class="dark" [style.transform]="user.get('email').hasError('required') && 
                  (user.get('email').dirty || user.get('email').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.email[0].message }}
              </small>
              <small class="dark" [style.transform]="user.get('email').hasError('pattern') && 
                  (user.get('email').dirty || user.get('email').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.email[1].message }}
              </small>
            </ion-label>

            <ion-row class="button-row">
              <ion-col text-center>
                <ion-button expand="full" fill="solid" color="primary" (click)="submit()" [disabled]="user.invalid">
                  RESET
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>