<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="user" fullscreen="true">
  <ion-row>
    <ion-col text-center align-self-center>
      <ion-avatar (click)="uploadAvatar()">
        <img [src]="_sanitizer.bypassSecurityTrustResourceUrl(user.avatar)" />
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-row class="form-row" *ngIf="userDetails">
    <ion-col>
      <ion-list>
        <form novalidate [formGroup]="userDetails">

          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" formControlName="firstName">
            </ion-input>
          </ion-item>

          <!-- First name error message -->
          <ng-container *ngFor="let error of error_messages.firstName">
            <div class="error"
              *ngIf="userDetails.get('firstName').hasError(error.type) && (userDetails.get('firstName').dirty || userDetails.get('firstName').touched)">
              {{ error.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName">
            </ion-input>
          </ion-item>

          <!-- Last name error message -->
          <ng-container *ngFor="let error of error_messages.lastName">
            <div class="error"
              *ngIf="userDetails.get('lastName').hasError(error.type) && (userDetails.get('lastName').dirty || userDetails.get('lastName').touched)">
              {{ error.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" readonly="true">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="new_password"></ion-input>
          </ion-item>

          <!-- Password error message -->
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error"
              *ngIf="userDetails.get('new_password').hasError(error.type) && (userDetails.get('new_password').dirty || userDetails.get('new_password').touched)">
              {{ error.message }}
            </div>
          </ng-container>

          <ion-row class="button-row">
            <ion-col text-center>
              <ion-button expand="full" fill="solid" color="primary" (click)="submit()">
                SAVE
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>