<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="user" fullscreen="true">
  <ion-row>
    <ion-col text-center align-self-center>
      <ion-avatar (click)="uploadAvatar()">
        <img [src]="_sanitizer.bypassSecurityTrustResourceUrl(user.avatar)" />
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-row class="form-row" *ngIf="userDetails">
    <ion-col>
      <ion-list>
        <form novalidate [formGroup]="userDetails">

          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" formControlName="firstName">
            </ion-input>
          </ion-item>
          <ion-label class="error">
            <small class="dark" class="dark"
              [style.transform]="userDetails.get('firstName').hasError('required') && 
                (userDetails.get('firstName').dirty || userDetails.get('firstName').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.firstName[0].message }}
            </small>
          </ion-label>

          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName">
            </ion-input>
          </ion-item>
          <ion-label class="error">
            <small class="dark"
              [style.transform]="userDetails.get('lastName').hasError('required') && 
                  (userDetails.get('lastName').dirty || userDetails.get('lastName').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.lastName[0].message }}
            </small>
          </ion-label>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" readonly="true">
            </ion-input>
          </ion-item>
          <ion-label class="error">
            <small class="dark"
              [style.transform]="userDetails.get('email').hasError('required') && 
                (userDetails.get('email').dirty || userDetails.get('email').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.email[0].message }}
            </small>
            <small class="dark"
              [style.transform]="userDetails.get('email').hasError('pattern') && 
                (userDetails.get('email').dirty || userDetails.get('email').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.email[1].message }}
            </small>
          </ion-label>

          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="new_password"></ion-input>
          </ion-item>
          <ion-label class="error">
            <small class="dark"
              [style.transform]="userDetails.get('new_password').hasError('required') && 
                (userDetails.get('new_password').dirty || userDetails.get('new_password').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.password[0].message }}
            </small>
            <small class="dark"
              [style.transform]="userDetails.get('new_password').hasError('pattern') && 
                (userDetails.get('new_password').dirty || userDetails.get('new_password').touched) ? 'translateX(0)' : 'translateX(-500px)'">
              {{ error_messages.password[2].message }}
            </small>
          </ion-label>

          <ion-row class="button-row">
            <ion-col text-center>
              <ion-button expand="full" fill="solid" color="primary" (click)="submit()"
                [disabled]="userDetails.invalid">
                SAVE
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>