@import "../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    --opacity: 0;
    --color: #fff;
    --background: transparent;

    ion-buttons {
      padding-top: 10px;

      ion-icon {
        font-size: 1.9rem;
        color: #fff;
      }
    }

    ion-title {
      margin-right: 3rem;
      padding-top: 10px;
      font-family: "Champagne and Limousines", sans-serif;
      font-size: 1.95rem;
      font-weight: normal;
      text-align: center;
    }
  }
}

ion-refresher {
  background: rgba(0, 51, 255, 1);
  color: #fff;
}

ion-content {
  --background: rgb(0, 51, 255);
  --background: linear-gradient(180deg, rgba(0, 51, 255, 1) 0%, rgba(29, 209, 255, 1) 100%);
}

ion-skeleton-text {
  --background-rgb: 255, 255, 255;
}

#search-bar {
  background: rgba(255, 255, 255, 0.2);
  width: 100vw;
  padding: 0;
  position: relative;
  left: -1rem;

  ion-item.input {
    --border-color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --padding-start: 25px !important;

    height: 50px;
    --background: rgba(255, 255, 255, 0);

    ion-input {
      --placeholder-color: #fff;
      --placeholder-opacity: 0.6;
      --padding-start: 30px !important;
      --padding-end: 0;
      --background: rgba(255, 255, 255, 0);
      --border-radius: 3px;

      margin: 0 auto;

      font-family: "Segoe UI", sans-serif;
      font-weight: 300;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      color: #fff;
    }

    ion-icon.prepend {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      color: rgba(255, 255, 255, 0.4);
      font-size: 1.6rem;
    }
  }
}

ion-grid {
  position: fixed;
  left: 0;
  top: 15vh;
  bottom: 0;
  width: 100%;
  height: 85vh;
}

ion-list {
  --ion-item-background: transparent;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 10vh;
  max-height: 72vh;
  margin-top: 0.9rem;
  overflow-y: scroll;

  ion-item-sliding {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 0.5rem;

    ion-item-options {
      ion-item-option {
        background: rgba(0, 0, 0, 0.01);
      }
    }
  }

  ion-item {
    --color: #fff;
    --border-color: transparent;

    height: 70px;
    margin-bottom: 4px;

    ion-thumbnail {
      position: relative;
      left: 0;
      width: 55px;
      height: 55px;

      img {
        border-radius: 50%;
      }
    }

    ion-label {
      h2 {
        margin-left: 1.5rem;
  
        font-family: "Segoe UI", sans-serif;
        font-size: 1.3rem;
        color: rgba(255, 255, 255, 0.8);
      }

      h3 {
        margin-left: 1.5rem;
  
        font-family: "Segoe UI", sans-serif;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.8);
      }

      small {
        margin-left: 1.5rem;
  
        font-family: "Segoe UI", sans-serif;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    ion-icon {
      font-size: 1.6rem;
      color: rgba(255, 255, 255, 0.8);

      &.transparent {
        color: rgba(255, 255, 255, 0.32);
      }
    }
  }
}

#add-contact-btn {
  --border-radius: 50%;
  --background: #fff;

  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translate(-50%, 10px);

  width: 150px;
  height: 150px;

  color: #0086d5;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 2rem;

  overflow: hidden;

  ion-icon {
    position: absolute;
    top: 20px;
  }
}
