// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700|Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans:300,400,600,700|Roboto:300,400,500,700&display=swap");

@font-face {
  font-family: "Champagne and Limousines";
  src: url("/assets/fonts/ChampagneLimousines.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Champagne and Limousines Italic";
  src: url("/assets/fonts/ChampagneLimousinesItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Champagne and Limousines Bold";
  src: url("/assets/fonts/ChampagneLimousinesBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Champagne and Limousines Bold Italic";
  src: url("/assets/fonts/ChampagneLimousinesBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Segoe UI", sans-serif;

  --ion-color-primary: #0078b3;
  --ion-color-primary-rgb: 0, 120, 179;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006a9e;
  --ion-color-primary-tint: #1a86bb;

  --ion-color-secondary: #ffd900;
  --ion-color-secondary-rgb: 255, 217, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0bf00;
  --ion-color-secondary-tint: #ffdd1a;

  --ion-color-tertiary: #5ec43c;
  --ion-color-tertiary-rgb: 94, 196, 60;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #53ac35;
  --ion-color-tertiary-tint: #6eca50;

  --ion-color-success: #8ecb01;
  --ion-color-success-rgb: 142, 203, 1;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #7db301;
  --ion-color-success-tint: #99d01a;

  --ion-color-warning: #e69b00;
  --ion-color-warning-rgb: 230, 155, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #ca8800;
  --ion-color-warning-tint: #e9a51a;

  --ion-color-danger: #fe3434;
  --ion-color-danger-rgb: 254, 52, 52;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e02e2e;
  --ion-color-danger-tint: #fe4848;

  --ion-color-dark: #484848;
  --ion-color-dark-rgb: 72, 72, 72;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3f3f3f;
  --ion-color-dark-tint: #5a5a5a;

  --ion-color-medium: #a5a7ad;
  --ion-color-medium-rgb: 165, 167, 173;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #919398;
  --ion-color-medium-tint: #aeb0b5;

  --ion-color-light: #f8f9fa;
  --ion-color-light-rgb: 248, 249, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadbdc;
  --ion-color-light-tint: #f9fafb;
}
