// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700|Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans:300,400,600,700|Roboto:300,400,500,700&display=swap");

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Roboto", sans-serif;

  --main-background: #3897d6;
  --main-color: #fff;

  --logo-font: "Baloo Chettan", cursive;
  --main-border-color: rgba(255, 255, 255, 0.25);

  --ion-color-primary: #0078b3;
  --ion-color-primary-rgb: 0, 120, 179;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006a9e;
  --ion-color-primary-tint: #1a86bb;

  --ion-color-secondary: #ffd900;
  --ion-color-secondary-rgb: 255, 217, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0bf00;
  --ion-color-secondary-tint: #ffdd1a;

  --ion-color-tertiary: #5ec43c;
  --ion-color-tertiary-rgb: 94, 196, 60;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #53ac35;
  --ion-color-tertiary-tint: #6eca50;

  --ion-color-success: #8ecb01;
  --ion-color-success-rgb: 142, 203, 1;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #7db301;
  --ion-color-success-tint: #99d01a;

  --ion-color-warning: #e69b00;
  --ion-color-warning-rgb: 230, 155, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #ca8800;
  --ion-color-warning-tint: #e9a51a;

  --ion-color-danger: #fe3434;
  --ion-color-danger-rgb: 254, 52, 52;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e02e2e;
  --ion-color-danger-tint: #fe4848;

  --ion-color-dark: #484848;
  --ion-color-dark-rgb: 72, 72, 72;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3f3f3f;
  --ion-color-dark-tint: #5a5a5a;

  --ion-color-medium: #a5a7ad;
  --ion-color-medium-rgb: 165, 167, 173;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #919398;
  --ion-color-medium-tint: #aeb0b5;

  --ion-color-light: #f8f9fa;
  --ion-color-light-rgb: 248, 249, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadbdc;
  --ion-color-light-tint: #f9fafb;
}

// :root {
//   --ion-font-family: "Lato", sans-serif;

//   /** primary **/
//   --ion-color-primary: #3880ff;
//   --ion-color-primary-rgb: 56, 128, 255;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255, 255, 255;
//   --ion-color-primary-shade: #3171e0;
//   --ion-color-primary-tint: #4c8dff;

//   /** secondary **/
//   --ion-color-secondary: #0cd1e8;
//   --ion-color-secondary-rgb: 12, 209, 232;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255, 255, 255;
//   --ion-color-secondary-shade: #0bb8cc;
//   --ion-color-secondary-tint: #24d6ea;

//   /** tertiary **/
//   --ion-color-tertiary: #7044ff;
//   --ion-color-tertiary-rgb: 112, 68, 255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//   --ion-color-tertiary-shade: #633ce0;
//   --ion-color-tertiary-tint: #7e57ff;

//   /** success **/
//   --ion-color-success: #10dc60;
//   --ion-color-success-rgb: 16, 220, 96;
//   --ion-color-success-contrast: #ffffff;
//   --ion-color-success-contrast-rgb: 255, 255, 255;
//   --ion-color-success-shade: #0ec254;
//   --ion-color-success-tint: #28e070;

//   /** warning **/
//   --ion-color-warning: #ffce00;
//   --ion-color-warning-rgb: 255, 206, 0;
//   --ion-color-warning-contrast: #ffffff;
//   --ion-color-warning-contrast-rgb: 255, 255, 255;
//   --ion-color-warning-shade: #e0b500;
//   --ion-color-warning-tint: #ffd31a;

//   /** danger **/
//   --ion-color-danger: #f04141;
//   --ion-color-danger-rgb: 245, 61, 61;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255, 255, 255;
//   --ion-color-danger-shade: #d33939;
//   --ion-color-danger-tint: #f25454;

//   /** dark **/
//   --ion-color-dark: #222428;
//   --ion-color-dark-rgb: 34, 34, 34;
//   --ion-color-dark-contrast: #ffffff;
//   --ion-color-dark-contrast-rgb: 255, 255, 255;
//   --ion-color-dark-shade: #1e2023;
//   --ion-color-dark-tint: #383a3e;

//   /** medium **/
//   --ion-color-medium: #989aa2;
//   --ion-color-medium-rgb: 152, 154, 162;
//   --ion-color-medium-contrast: #ffffff;
//   --ion-color-medium-contrast-rgb: 255, 255, 255;
//   --ion-color-medium-shade: #86888f;
//   --ion-color-medium-tint: #a2a4ab;

//   /** light **/
//   --ion-color-light: #f4f5f8;
//   --ion-color-light-rgb: 244, 244, 244;
//   --ion-color-light-contrast: #000000;
//   --ion-color-light-contrast-rgb: 0, 0, 0;
//   --ion-color-light-shade: #d7d8da;
//   --ion-color-light-tint: #f5f6f9;
// }
