@import "../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    --opacity: 1;
    --color: var(--main-background);
    --background: var(--main-color);
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 800;
  }
}

ion-content {
  --background: var(--main-background) url("../../../assets/Wave.svg") no-repeat bottom/contain;
}

ion-list {
  --ion-item-background: transparent;
  margin-right: 0.3rem;
  margin-left: 0.3rem;

  ion-item.input {
    ion-button {
      position: absolute;
      top: 50%;
      right: 0;
      margin: 0;
    }
  }
}
