<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row class="form-row">
      <ion-col>
        <ion-list>
          <form novalidate [formGroup]="user">

            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" formControlName="firstName">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small class="dark" class="dark"
                [style.transform]="user.get('firstName').hasError('required') && 
                    (user.get('firstName').dirty || user.get('firstName').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.firstName[0].message }}
              </small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" formControlName="lastName">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small class="dark"
                [style.transform]="user.get('lastName').hasError('required') && 
                      (user.get('lastName').dirty || user.get('lastName').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.lastName[0].message }}
              </small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small class="dark" [style.transform]="user.get('email').hasError('required') && 
                  (user.get('email').dirty || user.get('email').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.email[0].message }}
              </small>
              <small class="dark" [style.transform]="user.get('email').hasError('pattern') && 
                  (user.get('email').dirty || user.get('email').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.email[1].message }}
              </small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-label class="error">
              <small class="dark"
                [style.transform]="user.get('password').hasError('required') && 
                  (user.get('password').dirty || user.get('password').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.password[0].message }}
              </small>
              <small class="dark"
                [style.transform]="user.get('password').hasError('pattern') && 
                  (user.get('password').dirty || user.get('password').touched) ? 'translateX(0)' : 'translateX(-500px)'">
                {{ error_messages.password[2].message }}
              </small>
            </ion-label>

            <ion-row class="button-row">
              <ion-col text-center>
                <ion-button expand="full" fill="solid" color="primary" (click)="submit()" [disabled]="user.invalid">
                  SIGN UP
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>