<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <form novalidate [formGroup]="user">
            <ion-item class="input">
              <ion-label position="floating">First Name</ion-label>
              <ion-input inputmode="text" autocapitalize="on" formControlName="firstName">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('firstName').untouched || 
                  (user.get('firstName').value.length > 0 && user.get('firstName').touched)">
                {{ error_messages.firstName[0].message }}
              </small>
            </ion-label>

            <ion-item class="input">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input inputmode="text" autocapitalize="on" formControlName="lastName">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('lastName').untouched || 
                (user.get('lastName').value.length > 0 && user.get('lastName').touched)">
                {{ error_messages.lastName[0].message }}
              </small>
            </ion-label>

            <ion-item class="input">
              <ion-label position="floating">Email</ion-label>
              <ion-input inputmode="email" formControlName="email">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('email').untouched || 
                      (user.get('email').value.length > 0 && user.get('email').touched)">
                {{ error_messages.email[0].message }}
              </small>
              <small [class.hide]="!user.get('email').hasError('pattern')">
                {{ error_messages.email[1].message }}
              </small>
            </ion-label>

            <ion-item class="input">
              <ion-label position="floating">Password</ion-label>
              <ion-input inputmode="password" type="password" formControlName="password"></ion-input>
              <ion-button fill="clear" slot="end" (click)="showPasswordDetails()">
                <ion-icon slot="icon-only" name="help-circle"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('password').untouched || 
                    (user.get('password').value.length > 0 && user.get('password').touched)">
                {{ error_messages.password[0].message }}
              </small>
              <small [class.hide]="!user.get('password').hasError('minlength') || 
                user.get('password').hasError('pattern')">
                {{ error_messages.password[1].message }}
              </small>
              <small [class.hide]="!user.get('password').hasError('pattern')">
                {{ error_messages.password[2].message }}
              </small>
            </ion-label>

            <ion-row class="ion-margin-top">
              <ion-col text-center>
                <ion-button class="primary-btn" (click)="submit()" [disabled]="user.invalid">
                  SIGN UP
                </ion-button>
              </ion-col>
            </ion-row>

          </form>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>