<ion-content class="ion-padding" fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title" text-center>Let's Meet</h1>
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col>
        <ion-list>
          <form novalidate="true" [formGroup]="user">

            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="Email">
              </ion-input>
            </ion-item>
            <ng-container *ngFor="let error of error_messages.email">
              <ion-label class="error" *ngIf="user.get('email').hasError(error.type) && 
                  (user.get('email').dirty || user.get('email').touched)">
                <small>
                  {{ error.message }}
                </small>
              </ion-label>
            </ng-container>

            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
            <ng-container *ngFor="let error of error_messages.password">
              <small class="error" *ngIf="user.get('password').hasError(error.type) && 
                (user.get('password').dirty || user.get('password').touched)">
                {{ error.message }}
              </small>
            </ng-container>

            <ion-row class="login-button-row">
              <ion-col text-center>
                <ion-button id="registerButton" expand="full" fill="solid" color="light" (click)="goToSignUp()">
                  SIGN UP
                </ion-button>
              </ion-col>
              <ion-col text-center>
                <ion-button expand="full" fill="solid" color="tertiary" (click)="submit()">
                  SIGN IN
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col text-center>
                <ion-button id="resetButton" expand="block" fill="clear" color="light" (click)="goToForgotPass()">
                  FORGOT PASSWORD?
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>