@import "../../../theme/variables.scss";

ion-content {
  --background: rgb(0, 51, 255);
  --background: linear-gradient(180deg, rgba(0, 51, 255, 1) 0%, rgba(29, 209, 255, 1) 100%);
}

ion-list {
  --ion-item-background: transparent;

  form > ion-item.input {
    --border-color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --padding-start: 25px !important;

    margin-top: 5px;
    margin-right: 0.1rem;
    margin-left: 0.1rem;

    height: 45px;
    --background: rgba(255, 255, 255, 0.2);

    ion-label {
      --color: rgba(255, 255, 255, 0.8) !important;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      letter-spacing: 0.03rem;
    }

    ion-input {
      --placeholder-color: #fff;
      --placeholder-opacity: 0.6;
      --padding-start: 18px !important;
      --padding-end: 0;
      --background: rgba(255, 255, 255, 0);
      --border-radius: 3px;

      margin: 0 auto;
      padding: 20px 0 20px 10px;

      font-family: "Segoe UI", sans-serif;
      font-weight: 300;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      color: #fff;
    }

    ion-icon.prepend {
      color: rgba(255, 255, 255, 0.4);
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }

    ion-button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin: 0;
      --color: rgba(255, 255, 255, 0.4);
    }
  }
}

.title {
  position: relative;
  top: 60px;
  font-family: "Champagne and Limousines", sans-serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

#sign-in-btn {
  --border-radius: 3px;
  --background: #fff;
  margin-top: 11px;
  width: 100%;
  height: 55px;
  color: #0086d5;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

#sign-in {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: auto;
}

#reset-link {
  display: inline-flex;
  justify-content: flex-start;
  float: left;
  margin: 0;
  padding: 0.3rem 0 0 0.3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Segoe UI", sans-serif;
  font-size: 0.86rem;
  font-weight: 350;
  text-align: left;
}

#sign-up-link {
  display: inline-flex;
  justify-content: flex-end;
  float: right;
  margin: 0;
  padding: 0.3rem 0.3rem 0 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Segoe UI", sans-serif;
  font-size: 0.86rem;
  font-weight: 350;
  text-align: right;
}
