<ion-content class="ion-padding" fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title" text-center>Let's Meet</h1>
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col>
        <ion-list>
          <form [formGroup]="user">

            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="Email">
              </ion-input>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('email').untouched || 
                (user.get('email').value.length > 0 && user.get('email').touched)">
                {{ error_messages.email[0].message }}
              </small>
              <small [class.hide]="!user.get('email').hasError('pattern')">
                {{ error_messages.email[1].message }}
              </small>
            </ion-label>

            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-label class="error">
              <small [class.hide]="user.get('password').untouched || 
                (user.get('password').value.length > 0 && user.get('password').touched)">
                {{ error_messages.password[0].message }}
              </small>
              <small [class.hide]="!user.get('password').hasError('minlength') || 
                user.get('password').hasError('pattern')">
                {{ error_messages.password[1].message }}
              </small>
              <small [class.hide]="!user.get('password').hasError('pattern')">
                {{ error_messages.password[2].message }}
              </small>
            </ion-label>

            <ion-row class="login-button-row">
              <ion-col text-center>
                <ion-button id="registerButton" expand="full" fill="solid" color="light" (click)="goToSignUp()">
                  SIGN UP
                </ion-button>
              </ion-col>
              <ion-col text-center>
                <ion-button expand="full" fill="solid" color="tertiary" (click)="submit()">
                  SIGN IN
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col text-center>
                <ion-button id="resetButton" expand="block" fill="clear" color="light" (click)="goToForgotPass()">
                  FORGOT PASSWORD?
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>