@import "../../../theme/variables.scss";

ion-tab-bar {
  --background: var(--main-background);
  --color: var(--main-color);

  ion-tab-button {
    --color: rgba(255, 255, 255, 0.65);
    --color-selected: var(--main-color);
  }
}

ion-tabs ion-label {
  font-family: "Open Sans", sans-serif;
}
