// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.error {
  margin-left: 10px;
  font-size: 0.95rem;
  color: #d6d6d6;
  width: 100%;
  display: block;
  padding-top: 2px;
  padding-bottom: 10px;
  position: relative;

  small {
    position: absolute;
    transform: translateX(0px);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    font-family: "Montserrat";
    font-weight: 600;
    text-shadow: 0px 0px 4px #0165a0;

    &.hide {
      transform: translateX(-1000px);
    }

    &.dark {
      color: #920000;
      font-family: "Lato";
      text-shadow: none;
    }
  }
}

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

ion-modal {
  --background: transparent !important;
}

// Calendar popover styling

.pop-over-style {
  --width: 150px;
  --ion-item-background: transparent;

  .popover-content {
    top: 8vh !important;
    right: 0.2rem !important;
    left: unset !important;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.9);
  }
}

// ionic2-calendar styling

.table-bordered td {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.table-bordered thead tr th {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-right-color: rgba(0, 0, 0, 0.1) !important;
}

.text-muted {
  color: #c3c3c3;
}

.monthview-primary-with-event {
  background-color: transparent !important;
  color: #333 !important;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 7px 7px;
    border-color: transparent transparent var(--ion-color-success) transparent;
    border-radius: 50%;
    right: 2px;
    top: 2px;
    position: absolute;
  }
}

.monthview-primary-with-event.monthview-selected {
  background-color: #eee;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 7px 7px;
    border-color: transparent transparent var(--ion-color-primary) transparent;
    border-radius: 50%;
    right: 2px;
    top: 2px;
    position: absolute;
  }
}

.monthview-primary-with-event.monthview-current {
  background-color: rgb(231, 231, 231) !important;
}

.monthview-selected.monthview-current {
  background-color: rgb(231, 231, 231) !important;
}

.monthview-current {
  background-color: rgb(231, 231, 231) !important;
  font-weight: bold;
}

.monthview-selected {
  background-color: transparent !important;
  color: #111 !important;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 7px 7px;
    border-color: transparent transparent var(--ion-color-primary) transparent;
    border-radius: 50%;
    right: 2px;
    top: 2px;
    position: absolute;
  }
}

.monthview-eventdetail-timecolumn {
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
}

ion-list.event-detail-container {
  border-top: 2px solid rgba(255, 255, 255, 0.6) !important;

  ion-item {
    --color: #333;
  }
}

.dayview-allday-table,
.weekview-allday-table {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.weekview-allday-content-table td {
  border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.calendar-event-inner {
  background-color: var(--ion-color-primary) !important;
}

.no-events-label {
  color: #333 !important;
}
