@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    --opacity: 0;
    --color: #fff;
    --background: transparent;

    ion-buttons {
      padding-top: 10px;

      ion-icon {
        font-size: 1.9rem;
        color: #fff;
      }
    }

    ion-title {
      margin-right: 3rem;
      padding-top: 10px;
      font-family: "Champagne and Limousines", sans-serif;
      font-size: 1.95rem;
      font-weight: normal;
      text-align: center;
    }
  }
}

ion-content {
  --background: rgb(0, 51, 255);
  --background: linear-gradient(180deg, rgba(0, 51, 255, 1) 0%, rgba(29, 209, 255, 1) 100%);
}

ion-grid {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

ion-list {
  --ion-item-background: transparent;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 10vh;
  max-height: 72vh;
  margin-top: 0.9rem;
  overflow-y: scroll;

  ion-item-sliding {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 0.5rem;

    ion-item-options {
      ion-item-option {
        background: rgba(0, 0, 0, 0.01);
      }
    }
  }

  ion-item {
    --color: #fff;
    --border-color: transparent;

    height: 70px;
    margin-bottom: 4px;

    ion-thumbnail {
      position: relative;
      left: 0;
      width: 55px;
      height: 55px;

      img {
        border-radius: 50%;
      }
    }

    ion-label h2 {
      margin-left: 1.5rem;

      font-family: "Segoe UI", sans-serif;
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.8);
    }

    ion-icon {
      font-size: 1.6rem;
      color: rgba(255, 255, 255, 0.8);

      &.transparent {
        color: rgba(255, 255, 255, 0.32);
      }
    }
  }
}

ion-avatar {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

ion-slides {
  height: calc(100% - 2rem);
  margin-top: 2rem;

  ion-slide {
    display: block;

    h2 {
      text-transform: uppercase;
      text-align: left;
      margin-left: 3rem;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  ion-fab#forward {
    ion-fab-button {
      ion-icon {
        color: var(--main-background);
      }
    }
  }

  ion-fab#backward {
    ion-fab-button {
      ion-icon {
        color: var(--main-background);
      }
    }
  }

  ion-fab#finish {
    ion-fab-button {
      ion-icon {
        color: var(--main-color);
      }
    }
  }
}

.slide-zoom {
  height: 100%;
}
